<div class="mb-3">
    <label for="title" class="form-label">Book Title</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= book?.title  %>">
</div>
<div class="mb-3">
    <label for="description" class="form-label">Book Description</label>
    <input type="text" class="form-control" id="description" name="description" value="<%= book?.description ?? '' %>">
</div>
<div class="mb-3">
    <label for="cover-image" class="form-label">Book Cover</label>
    <input type="text" class="form-control" id="cover" name="image" value="<%= book?.image ?? '' %>">
</div>