<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
    <title>Add</title>
    <link rel="stylesheet" href="/public/css/bookshelf.css" />
    <script src="/public/scripts/bookshelf.js"></script>
</head>
<body>
    <%- include('partials/header-nav.ejs') %>

    <div class="card">
        <div class="card-body">
            <form method="POST" action="/books/add">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Book Title</label>
                    <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Book Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Book Cover</label>
                    <input type="text" class="form-control" id="cover" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>